{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigTalkDemo</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <h1>Welcome to BigTalkDemo</h1>
    <div class="controls">
        <button id="startButton">Start Camera</button>
        <button id="stopButton">Stop Camera</button>
    </div>
    <div id="videoContainer">
        <video id="video" width="640" height="480" autoplay></video>
    </div>
    <div id="data">
        <div id="top-expressions"></div>
        <div id="expression-levels"></div>
    </div>

    <script src="{% static 'home.js' %}"></script>
</body>
</html>
